$red : #eb3816;
$orange : #ff7800;
$yellow : #ffe400;
$clear_green : #aaf400;
$dark_green : #00a134;
$dark_blue : #0085ff;
$clear_blue : #84d6ff;
$purple : #9b0080;
$black : #000000;

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#FFF;
}

@font-face {
    font-family: "Orange";
    src: url(../fonts/orange_juice.ttf);
}
/*General style elements*/
aside{width:20%;}


ul{
	-webkit-user-select: none;
	cursor: pointer;
	li{
		-webkit-user-select: none;
		cursor: pointer;
	}
}


/*.instrument{
    background-image:url("../img/buttons_left.png");
    background-size: cover;
    width: 50px;
    height: 55px;
    display:inline-block;

    &[type="voice"]{background-position:0 0px;}
	&[type="flute"]{background-position:0 -60px;}
	&[type="violin"]{background-position:0 -123px;}
	&[type="piano"]{background-position:0 -183px;}
	&[type="cymbal"]{background-position:0 -245px;}
	&[type="drum"]{background-position:0 -311px;}
	&[type="guitar"]{background-position:0 -372px;}
	&[type="trumpet"]{background-position:0 -434px;}
	&[type="plus_instru"]{background-position:0 -492px;}

}*/

/* Portrait layout (default) */
.app {
    width:100%;
    height:auto;
    .row{
    	margin:0;
    }
}

header{
	width:100%;
	height:auto;
	text-align: center;
	margin: 50px 0;
	img
	{
		max-width:100%;
	}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    
    }
}

#buttons-songs, 
#buttons-songs-modal{

	.button{
    	background-image:url("../img/buttons_sprite.png");

		background-size: cover;
		width: 55px;
		height: 55px;
		margin: 0 auto;
		display: block;
		margin-top:10px; 

		&:hover{
			background-position:0 33%;
		}

		&:nth-child(1){ background-color: $red; }/* RED */
		&:nth-child(2){ background-color: $orange; }/* ORANGE */
		&:nth-child(3){ background-color: $yellow; }/* YELLOW */
		&:nth-child(4){ background-color: $clear_green; }/* CLEAR GREEN */
		&:nth-child(5){ background-color: $dark_green; }/* DARK  GREEN */
		&:nth-child(6){ background-color: $dark_blue; }/* DARK  BLUE */
		&:nth-child(7){ background-color: $clear_blue; }/* CLEAR BLUE */
		&:nth-child(8){ background-color: $purple; }/* PURPLE */
	}

	.button.active{
	    transform:scale(1.2);
	}
}

/*#buttons-songs-modal{

	border-right:1px solid #000;
	padding-right:10px;

	.button.active{
	    transform:scale(1.2);
	}

}*/

#choose-song{
	margin-left:30px;

	div{margin-right:10px;}

	.button{
		width: 55px;
		height: 55px;
    	background-image:url("../img/buttons_sprite.png");
		background-size: cover;
		&.active{
			background-position:0 33%;
		    transform:scale(1.2);
		}
	}

}

#timeline{
	
	width: 100%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;

    .piste {
		.box{
			height:60px;
		    width: 60px;
			display: inline-block;
		    vertical-align: top;
			box-sizing:border-box;
			border:1px solid;
			text-align: center;

			.instrument{
				background-color: rgba(0,0,0,0.5);
				width: 100%;
				height: 100%;
			}
			.instrument.active{
				transform:scale(1.3);
			}
		}
		.box:nth-child(4n+1) {
		  border-left: 2px solid black;
		}
		.box:nth-child(4n) {
		  border-right: 2px solid black;
		}
	}
}

/*CSS MODAL*/
#myModal{
	.round_btn{
	    display: inline-block;
	    background: url('../img/round_button_sprite.png') no-repeat;
	    background-size: cover;
	    width: 50px;
	    height: 50px;

	&.validate_btn{ 
	    background-position-y: -300px;
	    text-align:center;
	    &:active{ background-position-y: -850px; }
	    }
	}
}
/*---------*/

#deck-buttons{
	margin-top:50px;
	
	div:nth-of-type(3) {
		text-align:right;
	}
	
	div:nth-of-type(1){
		p{
			font-family:"Orange";
		}
	}
	
	img{
		margin-left:10px;
        width:40px;
        height:40px;
    }


    .round_btn{
	    display: inline-block;
	    width: 100px;
	    height: 100px;
	   	background-image: url("../img/buttons_sprite.png");
	    background-size: cover;
		background-position: 0 67%;
		transform: scale(0.5);
	    
	    &:hover{
			background-position: 0 101%;
			&:after{
				top:6px;
				left:-7px;
			}
	    }

	    &:after{
			content:"";
		    background-image: url("../img/circle_icon_sprite.png");
			background-position:0 67%;
			position: relative;
			display: inline-block;
			width:100px;
			height: 100px;
			background-repeat: no-repeat;
			background-size: 100%;
			background-color: transparent;	
		}

	    &.trash_btn:after{    background-position-y: 0; }
		&.validate_btn:after{ background-position-y: -100px; }
		&.scissors_btn:after{ background-position-y: -200px; }
		&.unzoom_btn:after{   background-position-y: -300px; }
		&.zoom_btn:after{     background-position-y: -400px; }
		&.play_btn:after{     background-position-y: -500px; }
		&.pause_btn:after{    background-position-y: -600px; }
		&.stop_btn:after{     background-position-y: -700px; }
		&.begin_btn:after{    background-position-y: -800px; }
		&.end_btn:after{      background-position-y: -900px; }
		&.sound_btn:after{    background-position-y: -1000px; }
		&.close_btn:after{    background-position-y: -1100px; }
		&.plus_btn:after{     background-position-y: -1200px; }

	}
}
/*
	    &.validate_btn{ 
	    	background-position-y: -300px;
	    	&:after{ background-position-y: -100px;  }
	    }

	    &.trash_btn{
	    	background-position:0 -250px;
	    	&:active{ background-position:0 -800px; }
	    }
		
		&.play_btn{ 
			background-position:0 0;
			&:active{ background-position:0 -550px; }
		}
		
		&.pause_btn{ 
			background-position:0 -50px; 
			&:active{ background-position:0 -600px; }
		}

		&.stop_btn{
			background-position:0 -100px;
			&:active{ background-position:0 -650px; }
		}

		&.begin_btn{
			background-position:0 -350px;
			&:active{ background-position:0 -900px; }
		}

		&.end_btn{ 
			background-position:0 -400px;
			&:active{ background-position:0 -950px; }
		}
*/




.app{
	h1{
	    font-size:48px;
	    display:inline-block;
	    overflow:visible;
	    font-family:"Orange";
	    margin:0;
	}
}

#debug {
	background-color: black;
	color: #33FF33;
}


