body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #FFF; }

@font-face {
  font-family: "Orange";
  src: url(../fonts/orange_juice.ttf); }

/*General style elements*/
aside {
  width: 20%; }

ul {
  -webkit-user-select: none;
  cursor: pointer; }
  ul li {
    -webkit-user-select: none;
    cursor: pointer; }

/*.instrument{
    background-image:url("../img/buttons_left.png");
    background-size: cover;
    width: 50px;
    height: 55px;
    display:inline-block;

    &[type="voice"]{background-position:0 0px;}
	&[type="flute"]{background-position:0 -60px;}
	&[type="violin"]{background-position:0 -123px;}
	&[type="piano"]{background-position:0 -183px;}
	&[type="cymbal"]{background-position:0 -245px;}
	&[type="drum"]{background-position:0 -311px;}
	&[type="guitar"]{background-position:0 -372px;}
	&[type="trumpet"]{background-position:0 -434px;}
	&[type="plus_instru"]{background-position:0 -492px;}

}*/
/* Portrait layout (default) */
.app {
  width: 100%;
  height: auto; }
  .app .row {
    margin: 0; }

header {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 50px 0; }
  header img {
    max-width: 100%; }

/* Landscape layout (with min-width) */
#buttons-songs .button,
#buttons-songs-modal .button {
  background-image: url("../img/buttons_sprite.png");
  background-size: cover;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  /* RED */
  /* ORANGE */
  /* YELLOW */
  /* CLEAR GREEN */
  /* DARK  GREEN */
  /* DARK  BLUE */
  /* CLEAR BLUE */
  /* PURPLE */ }
  #buttons-songs .button:hover,
  #buttons-songs-modal .button:hover {
    background-position: 0 33%; }
  #buttons-songs .button:nth-child(1),
  #buttons-songs-modal .button:nth-child(1) {
    background-color: #eb3816; }
  #buttons-songs .button:nth-child(2),
  #buttons-songs-modal .button:nth-child(2) {
    background-color: #ff7800; }
  #buttons-songs .button:nth-child(3),
  #buttons-songs-modal .button:nth-child(3) {
    background-color: #ffe400; }
  #buttons-songs .button:nth-child(4),
  #buttons-songs-modal .button:nth-child(4) {
    background-color: #aaf400; }
  #buttons-songs .button:nth-child(5),
  #buttons-songs-modal .button:nth-child(5) {
    background-color: #00a134; }
  #buttons-songs .button:nth-child(6),
  #buttons-songs-modal .button:nth-child(6) {
    background-color: #0085ff; }
  #buttons-songs .button:nth-child(7),
  #buttons-songs-modal .button:nth-child(7) {
    background-color: #84d6ff; }
  #buttons-songs .button:nth-child(8),
  #buttons-songs-modal .button:nth-child(8) {
    background-color: #9b0080; }

#buttons-songs .button.active,
#buttons-songs-modal .button.active {
  transform: scale(1.2); }

/*#buttons-songs-modal{

	.button.active{
	    transform:scale(1.2);
	}

}*/
#choose-song {
  margin-left: 30px; }
  #choose-song div {
    margin-right: 10px; }
  #choose-song .button {
    width: 55px;
    height: 55px;
    background-image: url("../img/buttons_sprite.png");
    background-size: cover; }
    #choose-song .button.active {
      background-position: 0 33%;
      /*transform:scale(1.2);*/ }

#timeline {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden; }
  #timeline .piste .box {
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid;
    text-align: center; }
    #timeline .piste .box .instrument.active {
      transform: scale(1.3); }
  #timeline .piste .box:nth-child(4n+1) {
    border-left: 2px solid black; }
  #timeline .piste .box:nth-child(4n) {
    border-right: 2px solid black; }

/*CSS MODAL*/
#myModal .round_btn {
  display: inline-block;
  background: url("../img/round_button_sprite.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px; }
  #myModal .round_btn.validate_btn {
    background-position-y: -300px; }
    #myModal .round_btn.validate_btn:active {
      background-position-y: -850px; }

/*---------*/
#deck-buttons {
  margin-top: 50px; }
  #deck-buttons div:nth-of-type(3) {
    text-align: right; }
  #deck-buttons div:nth-of-type(1) p {
    font-family: "Orange"; }
  #deck-buttons img {
    margin-left: 10px;
    width: 40px;
    height: 40px; }
  #deck-buttons .round_btn {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../img/buttons_sprite.png");
    background-size: cover;
    background-position: 0 67%;
    transform: scale(0.5); }
    #deck-buttons .round_btn:hover {
      background-position: 0 101%; }
      #deck-buttons .round_btn:hover:after {
        top: 6px;
        left: -7px; }
    #deck-buttons .round_btn:after {
      content: "";
      background-image: url("../img/circle_icon_sprite.png");
      background-position: 0 67%;
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: transparent; }
    #deck-buttons .round_btn.trash_btn:after {
      background-position-y: 0; }
    #deck-buttons .round_btn.validate_btn:after {
      background-position-y: -100px; }
    #deck-buttons .round_btn.scissors_btn:after {
      background-position-y: -200px; }
    #deck-buttons .round_btn.unzoom_btn:after {
      background-position-y: -300px; }
    #deck-buttons .round_btn.zoom_btn:after {
      background-position-y: -400px; }
    #deck-buttons .round_btn.play_btn:after {
      background-position-y: -500px; }
    #deck-buttons .round_btn.pause_btn:after {
      background-position-y: -600px; }
    #deck-buttons .round_btn.stop_btn:after {
      background-position-y: -700px; }
    #deck-buttons .round_btn.begin_btn:after {
      background-position-y: -800px; }
    #deck-buttons .round_btn.end_btn:after {
      background-position-y: -900px; }
    #deck-buttons .round_btn.sound_btn:after {
      background-position-y: -1000px; }
    #deck-buttons .round_btn.close_btn:after {
      background-position-y: -1100px; }
    #deck-buttons .round_btn.plus_btn:after {
      background-position-y: -1200px; }

/*
	    &.validate_btn{ 
	    	background-position-y: -300px;
	    	&:after{ background-position-y: -100px;  }
	    }

	    &.trash_btn{
	    	background-position:0 -250px;
	    	&:active{ background-position:0 -800px; }
	    }
		
		&.play_btn{ 
			background-position:0 0;
			&:active{ background-position:0 -550px; }
		}
		
		&.pause_btn{ 
			background-position:0 -50px; 
			&:active{ background-position:0 -600px; }
		}

		&.stop_btn{
			background-position:0 -100px;
			&:active{ background-position:0 -650px; }
		}

		&.begin_btn{
			background-position:0 -350px;
			&:active{ background-position:0 -900px; }
		}

		&.end_btn{ 
			background-position:0 -400px;
			&:active{ background-position:0 -950px; }
		}
*/
.app h1 {
  font-size: 48px;
  display: inline-block;
  overflow: visible;
  font-family: "Orange";
  margin: 0; }

#debug {
  background-color: black;
  color: #33FF33; }
