body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#FFF;
}

.overlay{background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity:0;
    z-index:-1;}

@font-face {
    font-family: "Orange";
    src: url(../fonts/orange_juice.ttf);
}

aside{width:20%;}

/*CSS BUTTONS */
.button{background-image:url("../img/buttons_left.png");
background-size: cover;
width: 50px;
height: 55px;
display:inline-block;}

.round_btn.trash_btn{background-position:0 -250px; }
.round_btn.play_btn{     background-position:0 0; }
.round_btn.pause_btn{    background-position:0 -50px; }
.round_btn.stop_btn{     background-position:0 -100px; }
.round_btn.begin_btn{    background-position:0 -350px; }
.round_btn.end_btn{      background-position:0 -400px; }

.round_btn.trash_btn:active{    background-position:0 -800px; }
.round_btn.play_btn:active{     background-position:0 -550px; }
.round_btn.pause_btn:active{    background-position:0 -600px; }
.round_btn.stop_btn:active{     background-position:0 -650px; }
.round_btn.begin_btn:active{    background-position:0 -900px; }
.round_btn.end_btn:active{      background-position:0 -950px; }

.round_btn{
    display: inline-block;
    background: url('../img/round_button_sprite.png') no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.button.active{
    transform:scale(1.2);
}

.instrument.active{transform:scale(1.3);}

.chant{background-position:0 0px;}
.harpe{background-position:0 -60px;}
.maracas{background-position:0 -123px;}
.piano{background-position:0 -183px;}
.symbale{background-position:0 -245px;}
.tambour{background-position:0 -311px;}
.guitare{background-position:0 -372px;}
.trompette{background-position:0 -434px;}
.plus_instru{background-position:0 -492px;}

.instrument{
    background-image:url("../img/buttons_left.png");
    background-size: cover;
    width: 50px;
    height: 55px;
    display:inline-block;
}
.instrument[type="chant"]{background-position:0 0px;}
.instrument[type="harpe"]{background-position:0 -60px;}
.instrument[type="maracas"]{background-position:0 -123px;}
.instrument[type="piano"]{background-position:0 -183px;}
.instrument[type="symbale"]{background-position:0 -245px;}
.instrument[type="tambour"]{background-position:0 -311px;}
.instrument[type="guitare"]{background-position:0 -372px;}
.instrument[type="trompette"]{background-position:0 -434px;}
.instrument[type="plus_instru"]{background-position:0 -492px;}

/*------------------------------------------------------------------------------*/


/* Portrait layout (default) */
.app {
    width:100%;
    height:auto;
}

.overlay.active{
    opacity:1;
    transition: 0.6s ease all;
    z-index: 1;
}

.app .row{margin:0;}

header img{max-width:100%;}

 img{max-width:100%;
                height:auto;pointer-events: none;}

.buttons_left{margin-top:20px;}

.buttons_left div{padding-left:1px;
                margin-left:20px;
                padding-right:1px;
                margin-top:10px; }

header{width:100%;
       height:auto;
        text-align: center;
        margin: 50px 0;}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {/* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

footer{margin-top:50px;}

footer div:nth-of-type(3) {text-align:right;}

footer div:nth-of-type(1) p{font-family:"Orange";}

footer img{margin-left:10px;
            width:40px;
            height:40px;}

.app h1 {
    font-size:48px;
    display:inline-block;
    overflow:visible;
    font-family:"Orange";
    margin:0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#timeline{
	width: 100%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
}
.box{
	background: #FFF;
	width: 20px;
	height: 20px;
}
ul{
	-webkit-user-select: none;
	cursor: pointer;
}
ul li{
	-webkit-user-select: none;
	cursor: pointer;
}
.piste{
	width: 1000px;
	position: relative;
}
.piste .box{
	height:60px;
    width: 60px;
	display: inline-block;
    vertical-align: top;
	box-sizing:border-box;
	border:1px solid;
	text-align: center;
}

#debug {
	background-color: black;
	color: #33FF33;
}

.box:nth-child(4n+1) {
  border-left: 2px solid black;
}
.box:nth-child(4n) {
  border-right: 2px solid black;
}
