body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#FFF;
}

.overlay{background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity:0;
    z-index:-1;}

@font-face {
    font-family: "Orange";
    src: url(../fonts/orange_juice.ttf);
}

aside{width:20%;}

.button{background-image:url("../img/buttons_left.png");
background-size: cover;
width: 50px;
height: 55px;
display:inline-block;}

.button.active{
    transform:scale(1.2);
}

.chant{background-position-y: 0px;}
.harpe{background-position-y: -60px;}
.maracas{background-position-y: -123px;}
.piano{background-position-y: -183px;}
.symbale{background-position-y: -245px;}
.tambour{background-position-y: -311px;}
.guitare{background-position-y: -372px;}
.trompette{background-position-y: -434px;}
.plus_instru{background-position-y: -492px;}

.instrument{
    background-image:url("../img/buttons_left.png");
    background-size: cover;
    width: 50px;
    height: 55px;
    display:inline-block;
}
.instrument[type="chant"]{background-position-y: 0px;}
.instrument[type="harpe"]{background-position-y: -60px;}
.instrument[type="maracas"]{background-position-y: -123px;}
.instrument[type="piano"]{background-position-y: -183px;}
.instrument[type="symbale"]{background-position-y: -245px;}
.instrument[type="tambour"]{background-position-y: -311px;}
.instrument[type="guitare"]{background-position-y: -372px;}
.instrument[type="trompette"]{background-position-y: -434px;}
.instrument[type="plus_instru"]{background-position-y: -492px;}




/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
      /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
    width:100%;
    height:auto;
}

.overlay.active{
    opacity:1;
    transition: 0.6s ease all;
    z-index: 1;
}

.app .row{margin:0;}

header img{max-width:100%;}

 img{max-width:100%;
                height:auto;pointer-events: none;}

.buttons_left{margin-top:20px;}

.buttons_left div{padding-left:1px;
                margin-left:20px;
                padding-right:1px;
                margin-top:10px; }

header{width:100%;
       height:auto;
        text-align: center;
        margin: 50px 0;}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {/* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

footer{margin-top:50px;}

footer div:nth-of-type(3) {text-align:right;}

footer img{margin-left:10px;
            width:40px;
            height:40px;}

.app h1 {
    font-size:48px;
    display:inline-block;
    overflow:visible;
    font-family:"Orange";
    margin:0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#timeline{
	background: red;
	height: 100%;
	width: 100%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
}
.box{
	background: #FFF;
	width: 20px;
	height: 20px;
}
ul{
	-webkit-user-select: none;
	cursor: pointer;
}
ul li{
	-webkit-user-select: none;
	cursor: pointer;
}
.piste{
	background: yellow;
	border-bottom: 1px solid;
	height: 57px;
	width: 1000px;
	position: relative;
}
.piste .box{
	height:100%;
	display: inline-block;
	box-sizing:border-box;
	border:1px solid;
	width: 60px;
	text-align: center;
}

#files-list{
	z-index: 20;
}

#debug {
	background-color: black;
	color: #33FF33;
}

.files img{
	max-width: 40px;
}
