#timeline{
	background: red;
	height: 230px;
	width: 850px;
    overflow: hidden;
    overflow-x: auto;
}
.box{
	background: #eee;
	width: 20px;
	height: 20px;
}
ul{
	-webkit-user-select: none;
	cursor: pointer;
}
ul li{
	-webkit-user-select: none;
	cursor: pointer;
}
.piste{
	background: yellow;
	border-bottom: 1px solid;
	height: 57px;
	width: 1000px;
	position: relative;
}
.piste .box{
	height:100%;
	display: inline-block;
	box-sizing:border-box;
	border:1px solid;
	width: 60px;
	text-align: center;
}

#files-list{
	z-index: 20;
}

#debug {
	background-color: black;
	color: #33FF33;
}

.files img{
	max-width: 40px;
}